<div class="sidebar">
    <h1>Apply Filter</h1>
    <div class="filters">
        <status-checkbox label="Assigned" class="assigned" checked="isIncluded(1)" ng-click="toggleIncluded(1)"></status-checkbox>
        <status-checkbox label="In progress" class="in-progress" checked="isIncluded(2)" ng-click="toggleIncluded(2)"></status-checkbox>
        <status-checkbox label="Deferred" class="deferred" checked="isIncluded(3)" ng-click="toggleIncluded(3)"></status-checkbox>
        <status-checkbox label="Topic approved" class="topic-approved" checked="isIncluded(4)" ng-click="toggleIncluded(4)"></status-checkbox>
        <status-checkbox label="Date assigned" class="date-assigned" checked="isIncluded(5)" ng-click="toggleIncluded(5)"></status-checkbox>
    </div>

    <h1>Sort By</h1>
    <select ng-model="sortPreference.key" ng-options="sortOption.key as sortOption.label for sortOption in sortOptions"></select>
    <br />
    <label><input type="checkbox" ng-model="sortPreference.isDesc" />Descending Order</label>
</div>
