<div class="sidebar">
    <h1>Apply Filter</h1>
    <div class="filters">
        <status-checkbox label="Assigned" class="assigned" checked="isSelected(1)" ng-click="toggleSelected(1)"></status-checkbox>
        <status-checkbox label="In progress" class="in-progress" checked="isSelected(2)" ng-click="toggleSelected(2)"></status-checkbox>
        <status-checkbox label="Deferred" class="deferred" checked="isSelected(3)" ng-click="toggleSelected(3)"></status-checkbox>
        <status-checkbox label="Topic approved" class="topic-approved" checked="isSelected(4)" ng-click="toggleSelected(4)"></status-checkbox>
        <status-checkbox label="Date assigned" class="date-assigned" checked="isSelected(5)" ng-click="toggleSelected(5)"></status-checkbox>
    </div>

    <h1>Sort By</h1>
    <select ng-model="sortPreference.key" ng-options="sortOption.key as sortOption.label for sortOption in sortOptions"></select>
    <br />
    <label><input type="checkbox" ng-model="sortPreference.isDesc" />Descending Order</label>
</div>
