$unassigned-color: #D0D0D0;
$assigned-color: #373736;
$in-progress-color: #F49A39;
$deferred-color: #7F1438;
$topic-approved-color: #257979;
$date-assigned-color: #86AB35;

body {
    background-color: #EDEDED;
}

.speaker-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.speaker-card {
    width: 260px;
    height: 260px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:7px;
}

.speaker-card-body {
    padding-top: 20px;
    padding-right: 21px;
    padding-left: 18px;

    .rating {
        margin-top: 7px;
        font-size: 18px;
        letter-spacing: -2px;

        .orange-star {
            color: #F9B634;
        }

        .gray-star {
            color: #DADADA;
        }
    }

    .title {
        font-family: 'Arial', sans-serif;
    }
}

.speaker-card-header {
    background-color: #FBFBFB;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right:10px;

    .admin-img {
        width: 50px;
        align-self: stretch;

        img {
            height:100%;
        }
    }

    .admin-name {
        flex-grow: 1;
        margin-left:10px;
        font-size:14px;
        font-family: 'Roboto', sans-serif;
        color: #585757;
    }
}

.speaker-card-footer {
    height:82px;
    text-align: center;
    color: #fff;
    font-family: arial;

    .speaker-name {
        font-size: 24px;
        margin-top:15px;
    }

    .last-contacted {
        font-size:12px;
        font-family: 'Roboto', sans-serif;
        margin-top: 3px;

        .date {
            font-weight: bold;
        }
    }
}

.speaker-card-footer.unassigned {
    background-color: $unassigned-color;
}

.speaker-card-footer.assigned {
    background-color: $assigned-color;
}

.speaker-card-footer.in-progress {
    background-color: $in-progress-color;
}

.speaker-card-footer.deferred {
    background-color: $deferred-color;
}

.speaker-card-footer.topic-approved {
    background-color: $topic-approved-color;
}

.speaker-card-footer.date-assigned {
    background-color: $date-assigned-color;
}
