$unassigned-color: #D0D0D0;
$assigned-color: #373736;
$in-progress-color: #F49A39;
$deferred-color: #7F1438;
$topic-approved-color: #257979;
$date-assigned-color: #86AB35;

$states: unassigned assigned in-progress deferred topic-approved date-assigned;
$state-colors: $unassigned-color $assigned-color $in-progress-color $deferred-color $topic-approved-color $date-assigned-color;


body {
    background-color: #EDEDED;
}


@mixin assign-state-colors($selector, $property) {
    @each $state in $states {
        $i: index($states, $state);
        #{$selector}.#{$state} {
            #{$property}: nth($state-colors, $i);
        }
    }
}

#dashboard {
    display:flex;

    .speaker-cards {
        flex-grow: 1;
    }

    .sidebar {
        width: 185px;
        margin-left:20px;
        margin-right:20px;
    }
}

.speaker-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.speaker-card {
    width: 260px;
    height: 260px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:7px;
}

.speaker-card-body {
    padding-top: 20px;
    padding-right: 21px;
    padding-left: 18px;

    .rating {
        margin-top: 7px;
        font-size: 18px;
        letter-spacing: -2px;

        .orange-star {
            color: #F9B634;
        }

        .gray-star {
            color: #DADADA;
        }
    }

    .title {
        font-family: 'Arial', sans-serif;
    }
}

.speaker-card-header {
    background-color: #FBFBFB;
    height: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right:10px;

    .admin-img {
        width: 50px;
        align-self: stretch;

        img {
            height:100%;
        }
    }

    .admin-name {
        flex-grow: 1;
        margin-left:10px;
        font-size:14px;
        font-family: 'Roboto', sans-serif;
        color: #585757;
    }
}

.speaker-card-footer {
    height:82px;
    text-align: center;
    color: #fff;
    font-family: arial;

    .speaker-name {
        font-size: 24px;
        margin-top:15px;
    }

    .last-contacted {
        font-size:12px;
        font-family: 'Roboto', sans-serif;
        margin-top: 3px;

        .date {
            font-weight: bold;
        }
    }
}

@include assign-state-colors(".speaker-card-footer", "background-color");

.sidebar {
    h1 {
        color: #202020;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.state-checkbox {
    display: flex;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;

    .square {
        width: 15px;
        margin-right: 10px;

        svg, svg > rect {
            width: 15px;
            height:15px;
        }

        rect {
            fill: $unassigned-color;
        }

        @include assign-state-colors("rect", "fill");
    }

    .label {
        flex-grow: 1;
    }
}
